.card {
	//max-width: 65.8rem;
	width: 100%;
	background-color: $white;
	border-radius: 2rem;
	margin: 2rem 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	min-height: 55vh;

	background-image: url("../../images/bg-pattern-mobile.svg");

	background-position: 50% -11%;
	background-repeat: no-repeat;
	background-size: 250px;

	@include breakpoint-up(medium) {
		/* 	width: 65.8rem; */
		flex-direction: row;
		background-image: url("../../images/bg-pattern-desktop.svg");
		background-position: -260px;
		background-repeat: no-repeat;
		background-size: 531px, 48px;
	}

	&__images {
		//margin: -11rem auto 0 auto;
		@include breakpoint-up(medium) {
			//margin: 0rem auto 0 -4rem;
			overflow: hidden;
		}
	}

	box-shadow: 0px 9px 49px 1px rgba(10, 27, 82, 0.7);

	&__title {
		text-align: center;
		color: $very-dark-blue;

		font-size: 2rem;
		padding-bottom: 2rem;
	}

	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__image {
		position: relative;

		max-height: 285px;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__content {
		padding: 2rem;
		width: 65%; // TODO: LOOK FOR BETTER SOLUTION
	}

	&__accordion {
		border-bottom: 0.1rem solid #e7e7e9;
		padding-bottom: 0.5rem;
		margin-bottom: 1rem;

		display: flex;
		justify-content: space-between;
		flex-direction: column;

		input {
			display: none;
		}
	}
}

.img {
	margin: -11rem auto 0 auto;
	@include breakpoint-up(medium) {
		margin: 0rem auto 0 -4rem;
		overflow: hidden;
	}
}

.img__box {
	position: absolute;
	height: 120px;
	left: -18%;
	top: 42%;
}

input:checked + .accordion__body + .accordion__description {
	display: block;
}

input:checked + .accordion__arrow {
	transform: rotate(180deg);
}
input + .accordion__body + .accordion__description {
	display: none;
}

.accordion__body + .accordion__description {
	display: block;
}

.accordion__toggle:checked {
	/* 	& + .title,
	& + .title + .content {
		box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
	} */
	& + .accordion__title {
		color: $very-dark-blue;
		font-weight: 700;
	}
	& + .accordion__title + .accordion__description {
		margin-top: 1rem;
		display: block;
		/* max-height: 500px; */
	}
	& + .accordion__title:after {
		transform: rotate(180deg) !important;
	}
}

.accordion {
	&__description {
		display: none;
		color: $dark-grayish-blue;
		line-height: 2rem;
	}

	&__title {
		position: relative;
		cursor: pointer;

		color: $dark-grayish-blue;

		line-height: 3rem;

		&:after {
			content: "";
			cursor: pointer;
			background-image: url("../../images/icon-arrow-down.svg");
			position: absolute;
			background-repeat: no-repeat;
			right: 1.25em;
			top: 0.8rem;
			width: 10px;
			height: 10px;
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
		}

		&:hover {
			color: $soft-red;
		}
	}

	&__arrow {
		cursor: pointer;
		padding: 0 1rem;
		transition: transform 0.3s ease-in-out;

		&--open {
			transform: rotate(180deg);
		}
	}
}

.attribution {
	margin-top: 2rem;
	color: $light-grayish-blue;
	text-align: center;

	&__link {
		color: $light-grayish-blue;
		text-decoration: none;

		&:hover {
			color: $very-dark-blue;
		}
	}
}
